<div class="container text-center" id="container-home">
  <div class="mt-4 p-5 text-white rounded">
    <h1>Jumbotron Example</h1>
    <p>Lorem ipsum...</p>
    <button type="button" class="btn btn-success btn-lg">Sign Up</button>
  </div>
</div>
<footer class="fixed-bottom p-3 bg-dark text-center" id="sticky-footer">
    <span class="text-white">Copyright @ Your Website</span>
</footer>
